@model CertRenewer.Features.NotificationsService.NotificationPayload;

<table>
	<caption>Expiring certificates</caption>
	<thead>
		<tr>
			<th>Version</th>
			<th>Certificate name</th>
			<th>Expiration date</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var expiringCert in Model.CertExpirationNotifications){
			<tr>
				<td><a href=@($"{Model.CertManagerFrontendBaseUrl}/certificates/{expiringCert.ExpiringCertificateId}")>@expiringCert.ExpiringCertificateVersionId</a></td>
				<td>@expiringCert.CertificateName</td>
				<td>@expiringCert.CertificateExpirationTime.UtcDateTime.ToShortDateString()</td>
				<td>@(string.IsNullOrWhiteSpace(expiringCert.CertificateDescription) ? "No description was provided" : expiringCert.CertificateDescription)</td>
			</tr>
		}
	</tbody>
</table>

<table>
	<caption>Renewed certificates</caption>
	<thead>
		<tr>
			<th>Version</th>
			<th>Certificate name</th>
			<th>New expiration date</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var renewedCert in Model.CertRenewedNotifications){
			<tr>
				<td><a href=@($"{Model.CertManagerFrontendBaseUrl}/certificates/{renewedCert.CertificateId}")>@renewedCert.CertificateId</a></td>
				<td>@renewedCert.CreatedSubject</td>
				<td>@renewedCert.ExpiresOnUtc.ToShortDateString()</td>
			</tr>
		}
	</tbody>
	
</table>
